    <!-- Nav Links -->

    <div class="fixed-top">
        <ul class="nav">

            <li class="nav-item ">
                <a class="nav-link mx-4" href="index.html">Home</a>
            </li>
            <li class="nav-item">

                <a class="nav-link  mx-4" href="leaderboard.html">Leaderboard</a>
            </li>
            <li class="nav-item">

                <a class="nav-link mx-4" href="rules.html">Rules</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  mx-4" href="account.html" >Account</a>
            </li>
        </ul>
    </div>