<body>

    <!-- NavBar -->

    <!-- Logo -->
    <div class="hero-logo">
        <img src="../public/images/blackjack_logo.png" width="600" height="300" alt="" loading="lazy">
    </div>

    <!-- Nav Links -->


    <div class="fixed-top">
        <ul class="nav">

            <li class="nav-item ">
                <a class="nav-link active mx-4" href="/index">Home</a>
            </li>
            <li class="nav-item">

                <a class="nav-link  mx-4" href="/leaderboard">Leaderboard</a>
            </li>
            <li class="nav-item">

                <a class="nav-link mx-4" href="/rules">Rules</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  mx-4" href="/account">Account</a>
            </li>
        </ul>
    </div>




    <!-- Cards Background image -->
    <div class="container-fluid">
        <div class="hero-image">

            <div class="row">
                <div class="hero-account col-5 text-center mt-5">
                    <h1>Your Account Info</h1>
                    <div class="container ">

                        <h2>First Name: {{this.firstName}}</h2>
                        <h2>Last Name: {{this.lastName}}</h2>
                        <h2>User Name: {{this.userName}}</h2>
                        <h2>Email: {{this.email}}</h2>

                    </div>
                </div>
            </div>



            <div class="hero-account-update col-4 text-center mt-5">
                <div class="container">

                    <form>
                        <h1>Update Info</h1>
                        <div class="row">
                            <div class="col">

                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4"
                                    placeholder="name@example.com">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Username</label>
                                <input type="password" class="form-control" id="inputPassword4"
                                    placeholder="Will appear on leaderboard">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4"
                                    placeholder="Must be 8-12 characters">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </form>
                    <p>Already have an account? <a href="signIn.html">Sign In</a></p>
                </div>

            </div>

        </div>

    </div>



    </div>
    </div>
    <footer class="footer"> © 2020 Created by: </footer>
</body>