    <!-- Cards Background image -->
    <div class="container-fluid">
        <div class="hero-image">
            <div class="container">
                <div class="row">
                    <div class="hero-text col-2">
                        <h1 id="startGameText">Start Game
                        </h1>
                        <a class="btn btn-primary btn-lg btn-block" href="game.html" role="button">Play Now</a>

                        <a class="btn btn-primary btn-lg btn-block" href="rules.html" role="button">How to Play</a>

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="hero-leaderboard col-4">
                        <h1 id="leaderboard">Top Players</h1>
                        <div class="container ">
                            <div class="row justify-content-center">
<div class="col-6 ">
                            
                <!-- =======================================================Need Handlebars to generate content============================================================= -->
                            <ol>
                                <li> Leader 1 : score 1
                                </li>
                                <li> Leader 2: score 2
                                </li>
                            </ol>
                 <!-- ======================================================================================================================================================= -->
</div></div>
                        </div>
                        <a class="btn btn-primary btn-lg btn-block" href="leaderboard.html" role="button">View full leaderboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>