{{> header}}


<!-- Cards Background image -->
<div class="container-fluid" id="index-page">
    <img src="../public/images/cards.jpg" class="img-fluid " id="index-background">
       <!-- Logo -->
       <div class="row">
      <div class="xs-col-2 md-col-8" id="logo">
        <img src="/public/images/blackjack_logo.png"  alt="" loading="lazy">
            </div>
            </div>
        <div class="container">          
         
            <div class="row"> 
      
                <div class="cs-col-12 md-col-2" id="index-start">
                    <h1 id="startGameText">Start Game
                    </h1>
                    <a class="btn btn-primary btn-lg btn-block" href="/game" role="button">Play Now</a>

                    <a class="btn btn-primary btn-lg btn-block" href="rules.html" role="button">How to Play</a>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="xs-col-12 md-col-4" id="index-leader">
                    <h1 id="leaderboard">Top Players</h1>
                    <div class="container ">
                        <div class="row justify-content-center">
                            <div class="col-6 ">

                                <!-- =======================================================Need Handlebars to generate content============================================================= -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <td>Username</td>
                                            <td>Total Chips</td>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div>
                                            {{#each user}}
                                            <tr>


                                                <td>{{this.dataValues.userName}}</td>
                                                <td>{{this.dataValues.chips}}</td>

                                            </tr>
                                            {{/each}}
                                        </div>
                                    </tbody>
                                </table>


                                <!-- ======================================================================================================================================================= -->
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-lg btn-block" href="leaderboard.html" role="button">View full
                        leaderboard</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}