   
    {{> header}}
   
    
  <!-- Cards Background image -->
<div class="container-fluid" id="index-page">
    <img src="../public/images/cards.jpg" class="img-fluid " id="index-background">
       <!-- Logo -->
       <div class="row justify-content-center">
      <div class="sm-col-12 col-2 " id="logo">
        <img src="/public/images/blackjack_logo.png"  alt="" loading="lazy">
            </div>
            
            
            
                <div class="container">
                    <div class="col-10 mt-5" id="leader-table">
                    <table class="table table-hover">
                        <thead>
                          <tr><h1>Leaderboard</h1></tr>
                          <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Player</th>
                            <th scope="col">Chips</th>
                            <th scope="col">Hands Played</th>
                          </tr>
                        </thead>
                        <tbody>

                          {{#each user}}
                          <tr>
                            <td>{{@index}}</td>
                            <td>{{this.dataValues.userName}}</td>
                            <td>{{this.dataValues.chips}}</td>
                            <td>{{this.dataValues.gamesPlayed}}</td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                </div>
                </div>
            </div>
        </div>
    
 


{{> footer}}