



button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}






.nav {
  margin-left: 900px;
  
 

}
.hero-image {
  background-image: url("../images/cards.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-top: -250px
}


.hero-logo {
  text-align: left;
  color: white;
 
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translate(-50%, -50%);
  color: black;
  opacity: 85%;
 
  background-color:whitesmoke;
  padding: 50px
}
.hero-leaderboard {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
opacity: 85%; 
  color: black;
  background-color:whitesmoke;
  padding: 50px
}

ul {
  list-style-type: none;
  text-align: center;
}